<div class="example-container">
  <h2>Left Panel</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="leftpanel"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of leftpanel" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Work Space</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="drophere"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of drophere" cdkDrag>{{item}}</div>
  </div>
</div>
<div class="example-container">
  <h2>JSON structure</h2>
</div>